In [75]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
from pprint import pprint
import numpy as np
import json
import data_prep

In [76]:
df = pd.read_csv("bank.csv", sep = ";")
print(df.head())
print(list(df))
# print(df)

   age          job  marital  education default  balance housing loan  \
0   30   unemployed  married    primary      no     1787      no   no
1   33     services  married  secondary      no     4789     yes  yes
2   35   management   single   tertiary      no     1350     yes   no
3   30   management  married   tertiary      no     1476     yes  yes
4   59  blue-collar  married  secondary      no        0     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome   y
0  cellular   19   oct        79         1     -1         0  unknown  no
1  cellular   11   may       220         1    339         4  failure  no
2  cellular   16   apr       185         1    330         1  failure  no
3   unknown    3   jun       199         4     -1         0  unknown  no
4   unknown    5   may       226         1     -1         0  unknown  no
['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

In [77]:
dt_prep_obj = data_prep.dataPrep()
df = dt_prep_obj.findMapp(df)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,2,0,2,1,1787,1,1,2,19,9,79,1,-1,0,0,1
1,33,11,0,1,1,4789,0,0,2,11,4,220,1,339,4,2,1
2,35,3,2,3,1,1350,0,1,2,16,3,185,1,330,1,2,1
3,30,3,0,3,1,1476,0,0,0,3,5,199,4,-1,0,0,1
4,59,7,0,1,1,0,0,1,0,5,4,226,1,-1,0,0,1
5,35,3,2,3,1,747,1,1,2,23,1,141,2,176,3,2,1
6,36,8,0,3,1,307,0,1,2,14,4,341,1,330,2,1,1
7,39,10,0,1,1,147,0,1,2,6,4,151,2,-1,0,0,1
8,41,5,0,3,1,221,0,1,0,14,4,57,2,-1,0,0,1
9,43,11,0,2,1,-88,0,0,2,17,3,313,1,147,2,2,1
10,39,11,0,1,1,9374,0,1,0,20,4,273,1,-1,0,0,1
11,43,1,0,1,1,264,0,1,2,17,3,113,2,-1,0,0,1
12,36,10,0,3,1,1109,1,1,2,13,7,328,2,-1,0,0,1
13,20,6,2,1,1,502,1,1,2,30,3,261,1,-1,0,0,0
14,31,7,0,1,1,360,0,0,2,29,0,89,1,241,1,2,1
15,40,3,0,3,1,194,1,0,2,29,7,189,2,-1,0,0,1
16,56,10,0,1,1,4073,1,1,2,27,7,239,5,-1,0,0,1
17,37,1,2,3,1,2317,0,1,2,20,3,114,1,152,2,2,1
18,25,7,2,2,1,-221,0,1,0,23,4,250,1,-1,0,0,1
19,31,11,0,1,1,132,1,1,2,7,6,148,1,152,1,1,1
20,38,3,1,0,1,0,0,1,2,18,10,96,2,-1,0,0,1
21,42,3,1,3,1,16,1,1,2,19,10,140,3,-1,0,0,1
22,44,11,2,1,1,106,1,1,0,12,5,109,2,-1,0,0,1
23,44,5,0,1,1,93,1,1,2,7,6,125,2,-1,0,0,1
24,26,4,0,3,1,543,1,1,2,30,0,169,3,-1,0,0,1
25,41,3,0,3,1,5883,1,1,2,20,10,182,2,-1,0,0,1
26,55,7,0,2,1,627,0,1,0,5,4,247,1,-1,0,0,1
27,67,9,0,0,1,696,1,1,1,17,7,119,1,105,2,2,1
28,56,8,0,1,1,784,1,0,2,30,6,149,2,-1,0,0,1
29,53,1,0,1,1,105,1,0,2,21,7,74,2,-1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,7,2,1,1,0,0,1,2,16,3,169,1,-1,0,0,1
4492,32,10,2,1,1,309,0,0,2,16,3,346,1,234,3,2,1
4493,28,10,2,3,1,0,0,1,0,4,5,205,6,-1,0,0,1
4494,26,10,2,1,1,668,0,1,0,28,4,576,3,-1,0,0,0
4495,48,3,0,3,1,1175,0,1,1,18,10,1476,3,-1,0,0,1
4496,30,7,2,1,1,363,1,1,2,28,6,171,3,-1,0,0,1
4497,31,5,2,3,1,38,1,1,2,20,10,185,2,-1,0,0,1
4498,31,3,0,3,1,1183,0,1,0,27,4,676,6,-1,0,0,1
4499,45,7,1,2,1,942,1,1,2,21,10,362,1,-1,0,0,1
4500,38,1,0,1,1,4196,0,1,2,12,4,193,2,-1,0,0,1
4501,34,3,0,3,1,297,0,1,2,26,7,63,4,-1,0,0,1
4502,42,11,0,1,1,-91,0,0,2,5,1,43,1,-1,0,0,1
4503,60,8,0,2,1,362,1,0,2,29,6,816,6,-1,0,0,0
4504,42,7,2,1,1,1080,0,0,2,13,4,951,3,370,4,2,0
4505,32,1,2,1,1,620,0,1,0,26,4,1234,3,-1,0,0,0
4506,42,2,1,3,1,-166,1,1,2,29,7,85,4,-1,0,0,1
4507,33,11,0,1,1,288,0,1,2,17,3,306,1,-1,0,0,1
4508,42,1,0,0,1,642,0,0,0,16,4,509,2,-1,0,0,1
4509,51,10,0,3,1,2506,1,1,2,30,10,210,3,-1,0,0,1
4510,36,10,1,1,1,566,0,1,0,20,4,129,2,-1,0,0,1
4511,46,7,0,1,1,668,0,1,0,15,4,1263,2,-1,0,0,0
4512,40,7,0,1,1,1100,0,1,0,29,4,660,2,-1,0,0,1
4513,49,7,0,1,1,322,1,1,2,14,7,356,2,-1,0,0,1
4514,38,7,0,1,1,1205,0,1,2,20,3,45,4,153,1,2,1
4515,32,11,2,1,1,473,0,1,2,7,6,624,5,-1,0,0,1
4516,33,11,0,1,1,-333,0,1,2,30,6,329,5,-1,0,0,1
4517,57,8,0,3,0,-3313,0,0,0,9,4,153,1,-1,0,0,1
4518,57,10,0,1,1,295,1,1,2,19,7,151,11,-1,0,0,1
4519,28,7,0,1,1,1137,1,1,2,6,1,129,4,211,3,1,1
4520,44,5,2,3,1,1136,0,0,2,3,3,345,2,249,7,1,1

In [74]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,2,married,2,1,1787,1,1,2,19,9,79,1,-1,0,0,1
1,33,11,married,1,1,4789,0,0,2,11,4,220,1,339,4,2,1
2,35,3,single,3,1,1350,0,1,2,16,3,185,1,330,1,2,1
3,30,3,married,3,1,1476,0,0,0,3,5,199,4,-1,0,0,1
4,59,7,married,1,1,0,0,1,0,5,4,226,1,-1,0,0,1
5,35,3,single,3,1,747,1,1,2,23,1,141,2,176,3,2,1
6,36,8,married,3,1,307,0,1,2,14,4,341,1,330,2,1,1
7,39,10,married,1,1,147,0,1,2,6,4,151,2,-1,0,0,1
8,41,5,married,3,1,221,0,1,0,14,4,57,2,-1,0,0,1
9,43,11,married,2,1,-88,0,0,2,17,3,313,1,147,2,2,1

In [32]:
type(df["age"])

pandas.core.series.Series